.matCardContainer {
  min-height: 100%;
  .actionCard {
    margin: 10%;
    .matCardTitle {
      margin: 5%;
    }
    .actionButton {
      margin-left: 5%;
    }
    .registerForm {
      margin: 5%;
    }
    .registerHyperlink {
      margin: 5%;
      font-size: 10px;
      cursor: pointer;
    }
    .registerHyperlink:hover {
      color: #f31a1a;
    }
  }
}
