<mat-card class="actionCard">
  <mat-card-title>Sign in!</mat-card-title>
  <mat-card-content >
    <form class="signInForm" [formGroup]="loginForm" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="passWord">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="onSubmit()">Sign in</button>
    <button mat-raised-button color="accent" (click)="onReset()">Reset</button>
  </mat-card-content>
</mat-card>