<!-- <h1>
  Welcome {{userName}}, 
  <br>
</h1>


<p>Server says...</p>

<div *ngFor="let msg of messages">
  {{msg}}
</div>
<div *ngFor="let msg of typing">
  {{msg}}
</div>

<mat-form-field class="example-full-width">
  <input matInput placeholder="Input" (focus)="sendTyping()" [(ngModel)]="message">
</mat-form-field>
<button (click)="sendMessage()">Send</button>

<button (click)="onLogout()">logout</button> -->

<!-- <div fxFlex="100%" fxLayout="cloumn" fxLayout.xs="row wrap" fxLayoutGap="10%">
  <mat-card class="chatCard" fxFlex="50%" fxFlex.xs="100%">
    <div fxLayout="row">
      <mat-card-title fxLayout="cloumn" fxFlex="100" class="matCardTitle">Let's gooooo
      </mat-card-title>
      <mat-card-content fxFlex="100%" fxLayoutGap="10%">
        <mat-form-field>
          <input matInput [(ngModel)]="message">
          <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
        </mat-form-field>
      </mat-card-content>
    </div>

  </mat-card>
  <mat-card class="chatCard" fxFlex="50%" fxFlex.xs="100%" fxLayout.xs="row">
    <mat-card-title class="matCardTitle">Online users
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>
</div> -->

<div fxLayout="row" fxLayout.xs="column" fxAlign.xs="center center" fxLayoutGap="20px">
  <div fxFlex="50%">
    <mat-card class="chatCard">
      <mat-card-header>
        <mat-card-title>TheChatApp</mat-card-title>
        <mat-card-subtitle style="float: right">{{userName}}<mat-icon matSuffix style="background-color: green">
            check_circle_outline</mat-icon>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let message of messages" [ngClass]="messageType">
          {{message.user}}<br>
          {{message.message}}
        </div>
        <div style="min-height: 200px; background-color: greenyellow">nvmnvm</div>
      </mat-card-content>
      <mat-card-actions>
        <mat-form-field>
          <input matInput [(ngModel)]="message" (focus)="sendTyping()">
          <mat-icon matSuffix (click)="sendMessage()">send</mat-icon>
        </mat-form-field>
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="background-color: white; margin: 20%;" fxFlex="50%" fxHide.xs="true"><button (click)="onLogout()">logout</button></div>
</div>