<mat-card class="actionCard">
  <mat-card-title class="matCardTitle">Sign up!</mat-card-title>
  <mat-card-content >
    <form class="registerForm" [formGroup]="registerForm" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <input matInput placeholder="Full Name" formControlName="fullName">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="userName">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="passWord">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="actionButton" (click)="onSubmit()">Sign up</button>
    <button mat-raised-button color="accent" class="actionButton" (click)="onReset()">Reset</button>
  </mat-card-content>
  <mat-card-footer class="registerHyperlink" (click)="navigate()"><u>Already registered? Click here!</u></mat-card-footer>
</mat-card>